td{
    line-height: 60px;
    text-align: center;
  }
  
.navtable{
    
    border-radius: 10px;
    width:200px ;
   /* margin-left: 80px;
    margin-right: 0%;
    margin-top: 80px;*/
    
    
  }
  .vr {
    border-left: 1px solid gray;
    height: 800px;
    margin-left: 30px;
    /*
    left: 25%;
    right: 0%;
  */
    
  }
  tr td a{
    color: black;
  }
  tr td:hover{
      color: aqua;
      background-color: lightcyan;
  }
  a{
      text-decoration: none;
  }
  td{
      border-radius: 20px;
      
  }

  .cours-nav{
      background-color: rgb(255, 255, 255);
      color: black;
  }
  #navbarNav1 .navbar-nav .nav-item .nav-link {
      color: black;
  }



  @media only screen and (max-width: 768px) {
    #nav2 {
        position: absolute;
        

    }
    .navbar-toggler-icon{
        background-color:transparent;
    }
    #course-toggle
    {
        margin-top: 0%;
    }
    .vr{
        display: none;
    }
    .main-content{
        width: 100%;
        
    }


  }